<!DOCTYPE html>
<html>
<head>
  <!-- development version, includes helpful console warnings -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <link rel="stylesheet" href="./styles/style.css"/>
</head>
<body>
  <header>
      Quizlin
  </header>
  
  <div id="app"> 
    <span class="big-text" v-bind:title="message">
        Viel Spass!
    </span>
    <img src="images/standing-15.svg" width="100"/>
    <img src="images/standing-19.svg" width="100"/>
    <div>
      <button v-on:click="show = !show" v-if="show">Weniger Infos</button>
      <button v-on:click="show = !show" v-else>Mehr Infos</button>
      <p v-if="show">Work in Progress: Hier werden einige simple Quiz entstehen.</p>
    </div>
  </div>
  <div id="quizzes">
    <transition name="fade">
    </transition>
    <div v-if="item.count >= 1" v-for="item in items" :key="item.message" class="quiz">
      <bi>{{ item.title }} </b>
      <i v-if="item.count > 1">{{ item.count }} Fragen</i>
      <i v-if="item.count == 1">{{ item.count }} Frage</i>
      <button v-on:click="setQuestionnaire(item)">Quiz starten</button>
    </div>

    <form v-show="questionnaireActive.title != 'test'" v-on:submit.prevent="validateAnswers">
      <h3>{{ questionnaireActive.title }}</h3>
      <div v-for="question in questionnaireActive.questionnaire">
        {{ question.question }}
        <p v-for="answer in question.answers">
          <input type="checkbox" required placeholder="item name.." v-model="itemName">
          {{ answer }} 
        </p>
      </div>
      </div>
      
      <button type="submit">Antworten prüfen</button>
    </form>
    
  </div>
  <script src="script.js">
  </script>
</body>
</html>
