/*variables*/
$primary: #FFE794;
$primary-text: #C97800;
$secondary: #027552;
$background: #F4F4F4;

body {
    background: $background;
    margin: 0em;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background: $secondary;
    color: $background;
    padding: 1em;
}
#app {
    padding: 1em;
}
/*.quizzes {
    float: center;
    width: 100%;
}*/
.big-text {
    font-size: 5em;
    font-weight:bold;
    color: $secondary;
}
.quiz {
    float: left;
    padding: 1em;
    margin: 1em;
    background: $primary;
    color: $primary-text;
}
.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
button{
    color: $primary-text;
    border: none;
    background: none;
}
button:hover{
    background: $primary;
}
button:focus{
    outline: none;
    background-color: none;
}